<nav class="navbar navbar-expand-lg navbar-dark testing-navbar-bg sticky-top testing-navbar">
  <a class="navbar-brand brand-large mr-4" routerLink="/"><span class="brand-title">Food Matcher 3000</span></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <button class="btn my-2 my-sm-0 testing-btn testing-navbar-btn btn-square" routerLink="/survey">SURVEY</button>
      </li>
      <li class="nav-item">
        <button class="btn my-2 my-sm-0 testing-btn testing-navbar-btn btn-square" routerLink="/ai">ARTIFICIAL INTELLIGENCE</button>
      </li>
      <li class="nav-item">
        <button class="btn my-2 my-sm-0 testing-btn testing-navbar-btn btn-square" routerLink="/srs">srs_stuff2018</button>
      </li>
    </ul>
    <form class="form-inline my-2 my-lg-0">
      <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
      <!-- <button class="btn my-2 my-sm-0 testing-btn testing-navbar-btn" type="submit">Search</button> -->
      <button class="btn my-2 my-sm-0 testing-btn testing-navbar-btn btn-square" routerLink="/search">Search</button>
    </form>
  </div>
</nav>