@import url('https://fonts.googleapis.com/css?family=Barlow');

$brand-bg-img: url('src/app/images/blackgeo.png');
$brand-font: 'Barlow';

$btn-hover-color-bg: rgb(202, 181, 138);
$btn-hover-color-text: rgb(126, 115, 93);
$navbar-bg: rgb(252, 237, 206); // the navbar bg (exclude buttons)

$btn-color: rgb(252, 237, 206);
$btn-color-text: rgb(109, 53, 53);
$btn-primary-font: 'Barlow';

.brand-title {
    height: 100%;
    padding-top: 4px;
    font-size: 32px;
    text-align: center;
    color: white;
    letter-spacing: 0.8px;  
    background-image: $brand-bg-img;
    background-color: red;
    font-family: $brand-font,'Helvetica', sans-serif;
    display: inline-block;
    padding-right: 20px;
    padding-left: 20px;
    &:hover {
        color: red !important;
        background-color: white;
        transition-duration: 0.1s;
        transition-timing-function: ease-in-out;
    };
    transition-duration: 0.8s;
    transition-timing-function: ease-out;
}

.brand-large {
    height: 100%;
    padding-top: 0;
    padding-bottom: 0;
    margin: 0;
}

.navbar-style {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    height: 50px;
}
.navbar-btn-style {
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;

    &:hover {
        background-color: $btn-hover-color-bg;
        color: $btn-hover-color-text;
    }
}

.testing-navbar-bg {
    background-color: $navbar-bg;
}

.active {
    background:#4FA9DC; color:black;
 }

 .navbar-btn-style {
    background-color: $btn-color;
    color: $btn-color-text;
    font-family: $btn-primary-font;
    padding: 0px 20px 0px 20px;
    display: inline-block;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
    // box-shadow: 0 0 0pt 2pt $btn-glow-color !important;
    // box-shadow: 2px 0 0px 0px $btn-glow-color, -2px 0 0px 0px $btn-glow-color !important;
    // background-color: black;
}