<div class="row">
  <div class="col-sm">
    <h1 class="testing-header">Food personality survey: </h1>
  </div>
</div>

<form>  
  <div class="row">
    <label>
      What ethnicity do you feel most connected with? <br>
      <select class="form-control" id="q1">
          <option selected disabled hidden>--</option>
          <option>White</option>
          <option>Black</option>
          <option>Hispanic</option>
          <option>Chinese</option>
          <option>Korean</option>
          <option>Japanese</option>
          <option>South East Asian</option>
          <option>South Asian</option>
          <option>Middle Eastern</option>
          <option>Prefer not to specify</option>
      </select>
    </label>
  </div>

  
  <div class="row">
    <label>
      What's your personality
      <select class="form-control" id="q2">
        <option selected disabled hidden>--</option>
        <option>Cool</option>
        <option>Lame</option>
        <option>I'm rekt</option>
      </select>
    </label>
  </div>

  <div class="row">
    <button>Next</button>
  </div>
</form>