<div class="row">
  <div class="col-sm">
    <h1 class="testing-header">Food personality survey: </h1>
  </div>
</div>

<!-- <button (click)="getSurveyName()">getSurveyName()</button> -->
<!-- <button (click)="getQuestions()">getQuestions()</button> -->

<!-- <div class="row">
  <h2 class="testing-subheader">Survey Name: {{ this.surveyName }}</h2>
</div>  -->
<div class="row">
  <h2 class="testing-subheader">Question {{this.index + 1}} / {{this.questions.length}}</h2> 
</div>
<div class="row">
  <p>{{ this.questions[this.index].question }}</p>
</div>
<div class="row mb-1">
    <span [innerHTML]="this.questionBody | sanitizeHtml"></span>
</div>
<div class="row">
  <div class="btn-toolbar">
    <button (click)="nextQuestion(-1)" type="button" [disabled]="this.index - 1 == -1" class="btn btn-dark mr-1">Back</button> 
    <button (click)="nextQuestion(1)" type="button" class="btn btn-dark mx-1">Next</button>
  </div>
</div>