  <div class="row">
    <div class="col-sm">
      <h1 class="testing-header">Food personality survey: </h1>
    </div>
  </div>
  <form>
    <div class="row">
      <label>
        Whats ur personality u fukn robot ass b <br>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 1
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 2
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 3
          </label>
        </div>
      </label>
    </div>
    <div class="row">
      <!-- <label> -->
        Whats ur personality u fukn robot ass b <br><br>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 1
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 2
          </label>
        </div>
        <div class="form-check">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 3
          </label>
        </div>
      <!-- </label> -->
    </div>
    <div class="row">
      <label>
        Whats ur personality u fukn robot ass b <br>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 1
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 2
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 3
          </label>
        </div>
      </label>
    </div>
    <div class="row">
      <label>
        Whats ur personality u fukn robot ass b <br>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 1
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 2
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 3
          </label>
        </div>
      </label>
    </div>
    <div class="row">
      <label>
        Whats ur personality u fukn robot ass b <br>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 1
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 2
          </label>
        </div>
        <div class="form-check-inline">
          <label class="form-check-label">
            <input type="checkbox" class="form-check-input" value="">Option 3
          </label>
        </div>
      </label>
    </div>
    <div class="row">
      <label>
        Whats ur personality u fukn robot ass b
        <button class="btn btn-primary">stuff</button>
        <button class="btn btn-primary">stuff</button>
        <button class="btn btn-primary">stuff</button>
      </label>
    </div>
    <button class="btn btn-primary" type="submit">Get My Tongue Checked!</button>
  </form>