$primary-background: rgb(27, 35, 41);
$primary-background-a: rgb(252, 237, 206);
$primary-text: #d1d1d1;
$secondary-background: rgb(20, 20, 20);
/* fix these colors -- i just set it so i can see difference*/
$btn-color: rgb(252, 237, 206);
$btn-color-text: rgb(109, 53, 53);
$btn-hover-color: rgb(202, 181, 138);
$btn-hover-color-text: rgb(126, 115, 93);
$btn-glow-color: rgba(34,345,34,0.5);
$primary-font: "Barlow";

$pink: #ce9595;
$font-med: 20px;

@mixin test-btn-style {
    background-color: $btn-color;
    color: $btn-color-text;
}
// @import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Barlow');
@font-face {
    font-family: "nixie";
    src: url("assets/NixieOne.ttf") format("truetype");
}
@font-face {
    font-family: "lead";
    src: url("assets/Lead.ttf") format("truetype");
}
@font-face {
    font-family: "znikomit";
    src: url("assets/Znikomit.otf") format("opentype");
}

.testing-btn {
    @include test-btn-style;
    padding: 0px 20px 0px 20px;
    display: inline-block;
}

body {
    background-color: black;
}

.btn:focus, .btn:active {
    outline: none !important;
    box-shadow: none !important;
    // box-shadow: 0 0 0pt 2pt $btn-glow-color !important;
    box-shadow: 2px 0 0px 0px $btn-glow-color, -2px 0 0px 0px $btn-glow-color !important;
    // background-color: black;
}

.btn.btn-square {
    border-radius: 0 !important;
}

.testing-header {
    font-size: 32px;
    padding: 32px;
    text-align: center;
    color: white;
    
}

.testing-subheader {
    font-size: 26px;
    color: white;
}

.testing-navbar {
    padding-top: 0 !important;
    padding-bottom: 0 !important;
    padding-left: 0 !important;
    height: 50px;
}
.testing-navbar-btn {
    padding-top: 0;
    padding-bottom: 0;
    height: 50px;

    &:hover {
        background-color: $btn-hover-color;
        color: $btn-hover-color-text;
    }
}

.testing-bg {
    background-color: $primary-background;
}

.testing-navbar-bg {
    background-color: $primary-background-a;
}

.secondary-bg {
    background-color: $secondary-background;
}

.testing-theme {
    color: $primary-text;
    font-family: $primary-font, sans-serif;
}

html {
    background-color: $secondary-background;
}

