/* Quick change variables */
$primary-text: #d1d1d1;
$primary-bg-color: rgb(20, 20, 20); // actual bg color
$primary-bg-img: url('src/app/images/blackcity.jpg'); // actual bg img

$btn-glow-color: rgba(34,345,34,0.5);
$primary-font: "Barlow";


/* Mixins*/
@mixin primary-bg-mixin {
    background: linear-gradient(rgba(0,30,50,.7), rgba(0,10,90,.7)), $primary-bg-img !important;
    background-color: $primary-bg-color; // backup
    // background-image: $primary-bg-img; // backup
    background-size: 100% 200%;
    background-attachment: fixed !important;
}

/* Font imports */
// @import url('https://fonts.googleapis.com/css?family=Quicksand');
@import url('https://fonts.googleapis.com/css?family=Barlow');
@font-face {
    font-family: "nixie";
    src: url("assets/NixieOne.ttf") format("truetype");
}
@font-face {
    font-family: "lead";
    src: url("assets/Lead.ttf") format("truetype");
}
@font-face {
    font-family: "znikomit";
    src: url("assets/Znikomit.otf") format("opentype");
}

/* Common button properties */
.btn.btn-square {
    border-radius: 0 !important;
}

/* Main text styles */
.h1-style {
    font-size: 32px;
    padding: 32px;
    text-align: center;
    color: white;
    
}

.h2-style {
    font-size: 26px;
    color: white;
}

/* General styles */
.primary-bg {
    @include primary-bg-mixin;
}

.universal-style {
    color: $primary-text;
    font-family: $primary-font, sans-serif;
    font-size: 16px;
    height: 200vh; // this isn't the most elegant solution to the bg height problem tho
}

/* Essentials */
html {
    background-color: $primary-bg-color !important;
}
body {
    background-color: black;
}


/* Ag-Grid styles -- note they must go before the import */
$ag-icons-path: "../node_modules/ag-grid-community/src/styles/icons/";

$odd-row-background-color:rgb(73, 73, 73);
$background-color: rgb(68, 68, 68);
$range-selection-background-color: rgb(156, 86, 86);
$ag-range-selected-color-1: rgb(156, 86, 86);
$hover-color: rgb(241, 103, 103);
$border-color: transparent;
$header-background-color: black;
$foreground-color: white;
$icon-color: white;

@import "~ag-grid-community/src/styles/ag-grid.scss";
@import "~ag-grid-community/src/styles/ag-theme-balham.scss"; // one of the available themes